@import "tailwindcss";
@import "./prodotto.css" layer(components); /*prodotto */

@layer components {
  /* Normalizazione personale */
  html {
    font-size: 100%;
    scroll-behavior: smooth;
  }
  body {
    font-family: system-ui;
    -webkit-text-size-adjust: 100%;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    margin: 0 1rem;
  }
  h1 {
    font-size: clamp(2.5rem, 6vw, 3.75rem);
  }
  button {
    cursor: pointer;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }
}

@theme {
}
