@import "tailwindcss";

@layer components {
  /* Normalizazione personale */
  html {
    font-size: 100%;
    scroll-behavior: smooth;
  }
  body {
    font-family: system-ui;
    -webkit-text-size-adjust: 100%;
    font-size: clamp(1rem, 2vw, 1.2rem);
  }
  button {
    cursor: pointer;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }
}

@theme {
  /* --color-green-600: #004818; */
  /* --font-klavika-l: klavika-l, sans-serif; */
}
