@layer components {
  .prodotto {
    min-height: 100vh;
  }
  .prodotto__titolo {
    color: var(--color-amber-600);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  .prodotto__descrizione {
    text-align: center;
  }

  .prodotto__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin: 2rem auto;
    width: 100%;
    padding: 1rem;
    border: 1px solid;
  }
  @media (min-width: 40rem) {
    /*640px */
    .prodotto__info {
      width: 50%;
    }
  }

  .prodotto__immagini {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
